////////////////////////////////////////////////////////////////////////////////
//
// main-container
// |- light-mode
// |_ dark-mode
//
////////////////////////////////////////////////////////////////////////////////

// import variables
@import './assets/styles/constants';

.main-container{
    position: relative;
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Align children in a row */
    justify-content: flex-start; /* Align children to the left horizontally */
    align-items: flex-start; /* Align children to the top vertically */
    padding: 1em;
}

.dark-mode {
    background-color: $background-dark-color; /* Light background colour */
    color: $font-dark-color;  /* Light text */
    p, a, h2, h3, h4, h5, label {
        color: $font-dark-color;
    }
    .hrule {
        background-color: $font-dark-color; /* Line color */
    }
    footer {
        border-top: 1.5pt dashed $font-dark-color;
    }
}

.light-mode {
    background-color: $background-light-color; /* Light background colour */   
    color: $font-light-color;  /* Dark text */
    p, a, h2, h3, h4, h5, label {
        color: $font-light-color;
    }
    .hrule {
        background-color: $font-light-color; /* Line color */
    }
    .scroll-button:hover {
        .MuiButton-endIcon {
            color: $font-light-color;
        }
    }
    footer {
        border-top: 1.5pt dashed $font-light-color;
    }
}

.light-mode .MuiFormControlLabel-label {
    color: $font-light-color;
}

.dark-mode .MuiFormControlLabel-label {
    color: $font-dark-color;
}

.light-mode .history {
  h1 {
    background-image: linear-gradient(30deg, rgb(0, 0, 0), rgb(147, 147, 147)); /* Gradient applied here */
  }
  .item {
    .left-col {
      .hover-arrow {
        color: $font-light-color;
      }
      .linker {
        .line {
          background-color: $font-light-color; /* Colour of the line */
        }
      }
    }
    .right-col {
      .title {
        color: $font-light-color;
      }
      .what {
        color: $font-light-color;
      }
      .grade {
        color: $font-light-color;
      }
      .where-when {
        color: $font-light-color-2;
      }
    }
  }
  .list {
    .el {
      border-bottom: 1px solid $font-light-color;
    }
    }
}

.dark-mode .history {
    h1 {
      background-image: linear-gradient(30deg, rgb(255, 255, 255), rgb(95, 95, 95)); /* Gradient applied here */
    }
    .item {
      .left-col {
        .hover-arrow {
          color: $font-dark-color;
        }
        .linker {
          .line {
            background-color: $font-dark-color; /* Colour of the line */
          }
        }
      }
      .right-col {
        .title {
          color: $font-dark-color;
        }
        .what {
          color: $font-dark-color;
        }
        .grade {
          color: $font-dark-color;
        }
        .where-when {
          color: $font-dark-color-2;
        }
      }
    }
  }
  .list {
    .el {
      border-bottom: 1px solid $font-dark-color;
    }
}

.dark-mode .Research{
    h1 {
        background-image: linear-gradient(30deg, rgb(255, 255, 255), rgb(95, 95, 95)); /* Gradient applied here */
    }
    .experience .MuiStack-root:hover {
        background-color: $background-dark-color; /* Slightly darker background */
    }
    .MuiChip-root {
        color: $font-dark-color; /* Slightly darker background */
    }
    .MuiChip-root:hover {
        background-color: $background-dark-color; /* Lighter background for chips */
        color: $link-hover-color; /* Change text colour to a blue shade */
    }
}

.light-mode .Research{
    h1 {
        background-image: linear-gradient(30deg, rgb(0, 0, 0), rgb(147, 147, 147)); /* Gradient applied here */
    }
    .experience .MuiStack-root:hover {
        background-color: $background-light-color; /* Slightly darker background */
    }
    .MuiChip-root {
        color: $font-light-color; /* Slightly darker background */
    }
    .MuiChip-root:hover {
        background-color: $background-light-color; /* Lighter background for chips */
        color: $link-hover-color; /* Change text colour to a blue shade */
    }
}

a:hover {
    color: $link-hover-color;
    transition:
      color .15s ease-in-out,
      background-color .15s ease-in-out,
      border-color .15s ease-in-out;
}