////////////////////////////////////////////////////////////////////////////////
//
// main-container
// |- light-mode
// |_ dark-mode
//
////////////////////////////////////////////////////////////////////////////////

// import variables
@import './assets/styles/constants';

.main-container{
    position: relative;
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Align children in a row */
    justify-content: flex-start; /* Align children to the left horizontally */
    align-items: flex-start; /* Align children to the top vertically */
}

.dark-mode {
    background-color: $background-dark-color; /* Light background colour */
    color: $font-dark-color;  /* Light text */
}

.light-mode {
    background-color: $background-light-color; /* Light background colour */
    color: $font-light-color;  /* Dark text */
}