$font-primary: "Inter";

//// color
// font
$font-light-color: #1e1e1e;
$font-dark-color: #eceae6;
// background
$background-light-color: #edeceb;
$background-dark-color: #1e1e1e;
// link
$link-hover-color: #e5004c;
// tmp
$build-old: #0008ff;
$build-current: #ff0000;
// light and shadows
$light: rgba(255, 255, 255, 0.6);
$shadow: rgba(0, 0, 0, 0.3);

//// margins
$margin-left-body: 20%;
$margin-right-body: 20%;
$body-width:60%;


