@import 'constants.scss';

.history {
  width: $body-width;
  margin-left: $margin-left-body;
  margin-right: $margin-right-body;
  padding: 0;

  h1 {
    -webkit-background-clip: text; /* For Chrome/Safari */
    background-clip: text; /* For Firefox */
    color: transparent; /* Make text transparent so the gradient shows */
    display: inline-block; /* Shrink-wrap the element around the text */
    padding: 0;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  .item {
    width: 100%;
    display: flex;

    .left-col {
      width: 10%;
      padding: 1em 1em 0 1em;
      text-align: center;
      display: flex; /* Added for aligning content */
      flex-direction: column; /* Aligns logo and line vertically */
      justify-content: center; /* Ensures vertical alignment */

      .logo {
        img {
          width: 80%;
          border-radius: 100%;
          transition: all 0.3s ease-in-out;
          opacity: 1;
        }
      }

      .linker {
        position: relative;
        flex-grow: 1; /* Makes the linker grow to fill the vertical space */
        display: flex;
        justify-content: center; /* Horizontally centre the line */

        .line {
          width: 1.5px; /* Thickness of the line */
          margin-top: 20%;
          height: 80%; /* Full height of the container */
        }
      }
    }

    .right-col {
      width: 77%;
      padding: 1em;
      display: flex; /* Added for aligning content */
      flex-direction: column;
      justify-content: center; /* Ensures vertical alignment */

      .title {
        font-weight: 600;
        padding-bottom: 0.5em;
        font-size: 1.2em;
        width: 100%;
      }
      .what {
        padding-bottom: 0.5em;
        font-size: 1em;
        width: 100%;
      }
      .grade {
        padding-bottom: 0.5em;
      }
      .where-when {
        display: flex;
        flex-direction: row;
        font-size: 1em;
        .where {
          font-style: italic;
          padding-right: 1em;
        }
        .when {
          font-style: normal;
        }
      }
      .details {
        font-size: 1em;
      }

      li {
        padding-bottom: 0.5em;
      }
    }
  }
}

.list {
  width: 100%;
  border-style: 1px;
  margin-bottom: 1em;

  .el {
    padding: 1em;
    position: relative;
    transition: transform 0.3s steps(5, end); /* Rigid/step-like animation */

    .el-img {
      text-align: center;
      padding: 1em;

      img {
        max-width: 80px;
      }
    }
  }
}

#recognitions {
  li {
    padding: 0 0 0.2em 0;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: x-large;
  }

  .el {
    ul {
      padding-left: 1.5em;
    }
  }

  .history {
    width: $body-width-small;
    margin-left: $margin-left-body-small;
    margin-right: $margin-right-body-small;

    h1 {
      margin-bottom: 0;
    }

    .item {
      .left-col {
        min-width: 45px;
        padding: 0.5em 0.5em 0em 0em;
        .logo {
          max-height: 45px;
          img {
            width: 95%;
            border-radius: 100%;
          }
        }
        .linker {
          .line {
            width: 1px; /* Thickness of the line */
            height: 98.5%; /* Full height of the container */
          }
        }
      }
      .right-col {
        padding: 0.5em 0 0.5em 0;
        .title {
          font-size: medium;
          font-weight: 700;
        }
        .where-when {
          flex-direction: column;
        }
        li {
          margin-left: -1.5em;
        }
      }
    }
  }

  #recognitions {
    li {
      margin-left: -1em;
    }
  }
}