@import "constants.scss";

.Research {
  width: $body-width;
  margin-left: $margin-left-body;
  margin-right: $margin-right-body;
  padding: 0;

  h1 {
    -webkit-background-clip: text; /* For Chrome/Safari */
    background-clip: text; /* For Firefox */
    color: transparent; /* Make text transparent so the gradient shows */
    display: inline-block; /* Shrink-wrap the element around the text */
    padding: 0;
    margin-top: 2em;
  }

  .list {
    .list-item {
      position: relative;
      display: flex;
      align-items: flex-start;
      padding: 0.5em 0;
      cursor: pointer;
      overflow: hidden;

      .plus-icon {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition:
          transform 1s ease,
          color 0.3s ease;
      }

      .text-box {
        padding: 0.5em 0.5em 0.5em 1em;
        flex: 1;

        .title-text {
          font-size: 1em;
          font-weight: 700;
        }

        .body-text {
          font-size: 1em;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .divider {
      margin: 0 auto;
    }

    .list-item:hover {
      background-blend-mode: normal
    }
    .list-item:hover .plus-icon {
      transform: rotate(360deg);
      color: $link-hover-color;
    }
  }
}

.dialog-title {
  font-size: 1em;
  font-weight: 800;
  padding: 1em 1em 0em 1em;
  max-width: 100%;
}
.dialog-text {
  font-size: 1em;
  padding: 1em;
  max-width: 100%;
}
video {
  max-width: 100%;
  height: 300px;
  margin-top: -160px;
}

.experience {
  width: 100%;
  display: flex; // Enable flexbox layout
  flex-direction: column; // Align items in a row (horizontally)
  justify-content: space-between; // Distribute items horizontally with space between them
  align-items: center; // Align items vertically at the center
    
}

/* Hover effect for the entire category (Stack) */
.experience .MuiStack-root:hover {
  border: $link-hover-color 1px solid;
  transition: all 0.3s ease-in-out;
}

/* Hover effect for individual chips */
.MuiChip-root:hover {
  cursor: pointer; /* Indicate that the chip is clickable */
  transition: all 0.3s ease-in-out;
}


@media (max-width: 600px) {
  .Research{
    width: $body-width-small;
    margin-left: $margin-left-body-small;
    margin-right: $margin-right-body-small;

    .list {
      .list-item {
        padding: 0.2em 0;
        .plus-icon {
          width: 20px;
        }
      }
    }
  }

  h1 {
    margin-bottom: 2px;
  }

  .experience {
    margin-top: 20px;
  }

  .dialog-title {
    padding: 0;
  }
  .dialog-text {
    padding: 0em;
  }
}